.btn-standar{
    background-color: #49FD5B;
    margin: 1vh;
    border-radius: 1.6vh;
    box-shadow: 0.6vh 0.6vh 1.2vh rgba(0, 0, 0, 0.2);
    padding: 2vh 2vh;
    font-size: 2vh;
    border: none;
    font-family: "ABeeZee", sans-serif;
}


.btn-standar:hover{
    transform: scale(1.05);
    background-color: transparent;
    border: black;
    box-shadow: 0 4px 12px rgba(73, 253, 91, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
}



.Parrafo{
    font-family: "Special Gothic", sans-serif;
    font-size: 2vh;
}

body {
    transform: translateX(-100px); 
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0); /* Termina en su posición normal */
  }
}

#user, #password {
    border-radius: 2vh;
    box-shadow: 0.6vh 0.6vh 1.2vh rgba(0, 0, 0, 0.2);
    padding: 4vh 5vh;
    font-size: 2vh;
    border: none;
    font-size: 2.5vh;
    font-family: "ABeeZee", sans-serif;
}

.header-standar{
    font-family: "Special Gothic", sans-serif;
    font-size: 6vh;
}
