.btn-standar{
    background-color: #49FD5B;
    margin: 1vh;
    border-radius: 1.6vh;
    box-shadow: 0.6vh 0.6vh 1.2vh rgba(0, 0, 0, 0.2);
    padding: 2vh 2vh;
    font-size: 2vh;
    border: none;
    font-family: "ABeeZee", sans-serif;
}

.Parrafo{
    font-family: "Special Gothic", sans-serif;
    font-size: 2vh;
}

.input-standar{
    border-radius: 2vh;
    box-shadow: 0.6vh 0.6vh 1.2vh rgba(0, 0, 0, 0.2);
    padding: 1.5vh 1.5vh;
    font-size: 2vh;
    border: none;
    font-family: "ABeeZee", sans-serif;
}