.news-card{
    background-color: rgba(73, 253, 91, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border-radius: 1.6vh;
    font-family: "ABeeZee", sans-serif;

}

.image-section {
    text-align: center;
    margin: 2vh;
    
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "ABeeZee", sans-serif;
}

#enviar {
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 1vh;
    padding: 1vh 2vh;
}

#modal-content {
    font-family: "Special Gothic", sans-serif;
    background-color: #49FD5B;
    border-radius: 1.6vh;
}

.container-form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-family: "Special Gothic", sans-serif;
}