.news-card{
    background-color: rgba(73, 253, 91, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border-radius: 1.6vh;
    font-family: "ABeeZee", sans-serif;

}

body {
  background: radial-gradient(circle at top left, #49FD5B, #ffffff 60%);
  opacity: 0;
  
}



.image-section {
    text-align: center;
    margin: 2vh;
    
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "ABeeZee", sans-serif;
}


.container-form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-family: "Special Gothic", sans-serif;
}

