.news-card{
    background-color: rgba(73, 253, 91, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border-radius: 1.6vh;
    font-family: "ABeeZee", sans-serif;

}

body {
  background: radial-gradient(circle at top left, #49FD5B, #ffffff 60%);
  opacity: 0;
  
}



.image-section {
    text-align: center;
    margin: 2vh;
    
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "ABeeZee", sans-serif;
}

#enviar {
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 1vh;
    padding: 1vh 2vh;
    background-color: white;
    margin: 1vh;
    border-radius: 1.6vh;
    box-shadow: 0.6vh 0.6vh 1.2vh rgba(0, 0, 0, 0.2);
    padding: 2vh 2vh;
    font-size: 2vh;
    border: none;
    font-family: "ABeeZee", sans-serif;
}

#enviar:hover {
    transform: scale(1.05);
    color: white;
    background-color: black;
    border: white;
    box-shadow: 0 4px 12px white;
    transition: all 0.3s ease;
    cursor: pointer;
}

#modal-content {
    font-family: "Special Gothic", sans-serif;
    background-color: #49FD5B;
    border-radius: 1.6vh;
}

.container-form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-family: "Special Gothic", sans-serif;
}

